# --- Standard Java ---
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# --- NetBeans Specific (IMPORTANT) ---
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/nbproject/private/

# --- Log files ---
*.log

# --- OS Junk ---
.DS_Store
Thumbs.db
